{% extends "base.html" %}

{% block title %}SLR System - HomePage{% endblock %}

{% block content %}
<!-- 	<div style="margin-top:100px;">
		<a class="btn" href="/manageproject/" >new SLR</a>
		<a class="btn" href="/my_project_list/">on progress</a>
	</div> -->
  <row centered>
      <column cols="10">
        <div class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav">

              <li class=""><a href="/manageproject/">new SLR</a></li>

              <li><a href="/my_project_list/">on progress</a></li>

        	</ul>
    </column>
  </row>
</div>
{% endblock %}