.logo-left{
	float: left;
	width: 5%;
	height: 100px;
}
.logo{
	float: left;
	width: 15%;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.logo-font{
	color:white;
	font-size: 40px;
}
.logo-space{
	width: 100px;
	height: 20px;
}
.navbar-me{
	width:40%;
	height: 100px;
	float:right;
	padding-top: 40px;
	font-size: 15px;
	text-align: right;
}
.navbar-me-1{
	width:10%;
	height: 100px;
	float:right;
	padding-top: 40px;
	font-size: 15px;
	text-align: right;
}
.nav-font{
	font-size: 20px;
}
.search-area{
	float: right;
	width: 30%;
	height: 100px;
	padding-top: 50px;
}

.search-text{
	width:250px;
}